body {
background-color: lightpink;

h1 {
  color: lightcoral;
}
h3 {
  color: lightcoral;
}
h1 {
font-family: "Lucida Handwriting", "Papyrus", Brush Script MT;
}
h3 {
font-family: "Lucida Handwriting"
}
p {
font-family:"Garamond"
}
p2 {
  color: lightcoral;
}
p {
  color: lightcoral;
}
p2 { 
font-family:"Garamond"
}




