body {
background-color: papayawhip;

h1 {
  color: yellowgreen;
}
h3 {
  color: yellowgreen;
}
h1 {
font-family: "georgia";
}
h3 {
font-family: "garamond"
}
p {
font-family:"Garamond"
}
p2 {
  color: yellowgreen;
}
p {
  color: yellowgreen;
}
p2 { 
font-family:"Garamond"
}
